.shell {
  text-align: center;
}

.unitObject {
  display: inline-block;
  font-size: 0;
  border: 1px solid #000;
}

.unitObject__list {
  display: inline-block;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #000;
  cursor: pointer;
}
.unitObject__list:first-child {
  border-left: none;
}
.unitObject__list:hover {
  background: #000;
}
.unitObject__list:hover span {
  color: #fff;
}
.unitObject__list span {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #000;
}

.wrapper {
  margin: 0 auto;
  width: 900px;
}

.unitText {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000;
  padding: 15px;
  line-height: 20px;
}
